<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TO-DO task | home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"><!--    <link rel="stylesheet" href="{%static 'stylesheet.css' %}" >-->
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>

<body >
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
        <div class="banner">
        <div class="banner-body">
            <p><b>To-Do</b></p>

        </div>


    </div>
</div>
    </div>
    </div>
{% block body %}
{% endblock %}

</body>
</html>